
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Email</th>
            <th>Gender</th>
            <th>Role</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.gender}}</td>
            <td>{{user.role}}</td>
            <td>
                <button (click)="deleteUser(user.id)">Delete</button>
                <button routerLink="/details/{{user.id}}">Details</button>
            </td>
        </tr>
    </tbody>
</table>
